* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}
html body {
  width: 100%;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.clearfix:after{
  content:"";
  height:0;
  line-height:0;
  display:block;
  visibility:hidden;
  clear:both;			
}
.clearfix{
  zoom:1;
}
