nav>ul>li:first-child>a {
  display: inline-block;
  height: 40px;
  border-bottom: none;
}
nav>ul>li:nth-child(2)>a {
  display: inline-block;
  height: 40px;
  border-bottom: none;
}
nav>ul>li:nth-child(3)>a {
  display: inline-block;
  height: 40px;
  border-bottom: 2px solid #d5443c;
}
.radio-nav {
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #dfdfdf;
}
.radio-nav ul {
  width: 100%;
  height: 100%;
}
.radio-nav ul>li {
  float: left;
  text-align: center;
  vertical-align: middle;
}
.radio-nav ul>li:nth-child(1),.radio-nav ul>li:nth-child(3) {
  width: 49%;
}
.radio-nav ul>li:nth-child(2) {
  width: 2%;
  padding: 10px 0;
}
.radio-nav ul>li .radio-line {
  width: 1px;
  height: 40px;
  background-color: #dfdfdf;
}
.radio-nav ul>li>img {
  width: 12%;
  height: 12%;
  vertical-align: middle;
}
.radio-nav ul>li>span {
  text-align: center;
  padding-left: 4%;
}
.radiolist {
  width: 100%;
}
.radiolist .radio-title {
  width: 100%;
  height: 40px;
  font-size: 16px;
  margin-top: 20px;
}
.radiolist .radio-title span:first-child {
  width: 3px;
  height: 18px;
  background-color: #d5443c;
  display: inline-block;
  margin-right: 6px;
}
.radiolist .radio-title span {
  margin-right: 10px;
}
.radiolist ul li {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 4px;
  position: relative;
}
.radiolist ul li img {
  width: 35%;
  height: 100%;
  vertical-align: top;
}
.radiolist ul li .introduce {
  display: inline-block;
  padding-left: 3%;
  width: 60%;
  height: 100%;
  padding-top: 2%;
}
.radiolist ul li h4 {
  font-size: 14px;
  height: 25%;
}
.radiolist ul li p {
  color: #a4a1a1;
  font-size: 12px;
  height: 25%;
}
.radiolist ul li p img {
  width: 16px;
  height: 16px;
}
.radiolist ul .price {
  position: absolute;
  right: 2%;
  top: 6%;
  color: #d5443c;
  font-size: 14px;
}
.radio-container {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: repeat(2, 45%);
  grid-row-gap: 20px;
  grid-column-gap: 2%;
}
.radio-container>div {
  position: relative;
}
.radio-container img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  vertical-align: middle;
}
.radio-container p {
  position: absolute;
  left: 6%;
  bottom: 10%;
  font-size: 12px;
  color: #fff;
}
.radiolist-MV .MV-title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  margin-top: 20px;
}
.radiolist-MV .MV-title span:first-child {
  width: 3px;
  height: 18px;
  background-color: #d5443c;
  display: inline-block;
  margin-right: 6px;
}
.radiolist-MV .MV-title span {
  margin-right: 10px;
}
.classification li {
  float: left;
  width: 49%;
  height: 60px;
  padding-left: 5%;
  border-top: 1px solid #dfdfdf;
  line-height: 60px;
}
.classification>li:nth-child(2),
.classification>li:nth-child(5), 
.classification>li:nth-child(8),
.classification>li:nth-child(11),
.classification>li:nth-child(14),
.classification>li:nth-child(17),
.classification>li:nth-child(20) {
  width: 2%;
  padding: 10px 0;
}
.classification>li .line {
  width: 1px;
  height: 40px;
  background-color: #dfdfdf;
}
.classification {
  border-bottom: 1px solid #dfdfdf;
}
.classification li span {
  padding-left: 6%;
}
.classification li img {
  width: 28px;
  height: 28px;
  vertical-align: middle;
}